# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/misc.xml
.idea/**/dictionaries
.idea/**/shelf


# Sensitive data json files
credentials.json
emails.json
token.json